
body {
  margin: 0;
  background: white;
}

h1 {
  font-family: Palatino, sans-sans-serif;
  font-size: 1.8rem;
}

h2, h3 {
  margin-top: 3rem;
  font-family: Palatino, sans-sans-serif;
  font-size: 1.5rem;
}

body, p, ul, li {
  font-family: Helvetica, serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.04em;
}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.content {
  margin: 0 30px 0 40px;
}

.about-me {
  text-align: left;
  width: 50%;
  background: #f4e7b8;
  padding: 20px;
  border-bottom: 1px solid #c7b780;
}
.info {
  width: 60%;
}


.notes {
  width: 80%;
  background: yellow;
}

img {
  width: 95%;
  margin-bottom: 80px;
  margin-top: 20px;
}


a {
  text-decoration: none;
  color: #005983;
}

a.visited {
  color: #005983;
}

a:hover {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

a:focus {
  text-decoration: none;
  background: #ebd757;
  border-bottom: 2px solid black;
}


ol, ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: disc;
  margin-left: 20px;
}


.footer {
  margin-top: 200px;
  margin-bottom: 50px;
  color:  #616a6b;
}

/* viewport sizing  */

.main {
  max-width: 1600px;
}

@media screen and (max-width: 800px) {
  .wrapper, .content, .info, .notes {
    width: 95%;
    margin-left: 5px;
    margin-bottom: 50px;
   }



   p, ul, li {
     font-size: 17px;
   }

   h1 {
     font-size: 22px;
   }
    h2, h3 {
      font-size: 18px;
    }

    .about-me {
      width: 90%;
      padding: 10px;
    }
   }
 }
